body {
    height: 100vh;
    display: flex; 
    place-items: center;
    justify-content: center;
    font-family: monospace;
}

.row {
    display: flex;
}

.row > * + * {
    margin-left: 20px;
}
